:root {
  --b1: #222;
  --b2: #333;
  --f1: #eeee;
  --f2: #fff;
  --e1: #a7e;
  --e2: #7e7;
  --e3: #e77;
}
#root {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  overflow: hidden;
  background-color: var(--b1);
  color: var(--f1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
}

#root > .user-list,
#root > .view-user {
  background-color: var(--b2);
  padding: 0.5rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

form > button {
  background-color: var(--b1);
  color: var(--e2);
  border: 1px solid var(--e2);
}
form > button:disabled {
  background-color: var(--b2);
  border: 1px dashed var(--b1);
  color: var(--e3);
}

.delete {
  background-color: var(--e3);
  color: black;
  border: 1px solid black;
}

h2 {
  font-size: 1.5rem;
  color: var(--e1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  display: flex;
  flex-direction: column;
}
